<footer class="footer">
    <div class="container" style="margin:auto;">
        <div class="row">
            <div class="footer-col">
                <a href="{% url 'main' %}"><h4>Домой</h4></a>
            </div>
            <div class="footer-col">
                <a href="{% url 'wash' %}"><h4>Автомойка</h4></a>
            </div>
            <div class="footer-col">
                <a class="text" href="{% url 'shop' %}"><h4>О магазине</h4> </a>
            </div>
            <div class="footer-col">
                <a href="{% url 'contacts'%}"><h4>Контакты</h4></a>
            </div>
        </div>
    </div>
</footer>