{% extends 'app.html' %}
{% load static%}

{% block content %}

<section class="all">
    <h3 class="title red-line">
        Услуги и цены
    </h3>
    <div class="all__items">
        <div class="all__fitting row all__item-item">
            <div class="col-lg-6" style="background-color: rgba(207, 42, 55, 0.95); padding: 4rem;">
                <h4 class="subtitle text" style="color: #fff;">
                    Шиномонтаж
                </h4>
                <p class="text" style="color: #fff">
                    Наши сервисы предлагают полный комплекс услуг по шиномонтажу: от переобувки и балансировки до
                    сезонного
                    хранения и сложного ремонта дисков. Наши мастера помогут вам подготовить автомобиль к сезону и
                    сделают
                    качественную диагностику состояния шин и дисков, а в случае необходимости проведут необходимые
                    ремонтные
                    работы. Когда дело касается безопасности, лучше довериться профессионалам, чтобы быть полностью
                    уверенными в своем автомобиле.
                </p>
                <a class="all__link" href="{% url 'fitting' %}">Подробнее</a>
            </div>
            <div class="col-lg-6 p-0">
                <img class="all-img" src="{% static 'autowash/images/fitting2.jpg' %}" alt="">
            </div>
        </div>


        <div class="all__collapse row all__item-item">
            <div class="col-lg-6 p-0">
                <img class="all-img" src="{% static 'autowash/images/collapse2.jpg' %}" alt="">
            </div>
            <div class="col-lg-6" style="background-color: #212529; padding: 4rem;">
                <h4 class="subtitle text" style="color: #fff;">
                    Сход-развал
                </h4>
                <p class="text" style="color: #fff">
                    Устойчивое положение автомобиля на дороге – залог вашей безопасности и спокойствия. Регулярное
                    прохождение развала-схождения у специалистов позволит вам чувствовать себя на дороге увереннее и
                    продлить срок эксплуатации шин и подвески. Сход-развал рекомендуется выполнять при первых
                    подозрениях на
                    изменения или нарушения, а также для профилактики после длительной эксплуатации автомобиля. Наши
                    мастера
                    качественно выполнят свою работу на современном компьютерном оборудовании .
                </p>
                <a class="all__link" href="{% url 'collapse' %}">Подробнее</a>
            </div>
        </div>


        <div class="all__wash row all__item-item">
            <div class="col-lg-6" style="background-color: rgba(207, 42, 55, 0.95); padding: 4rem;">
                <h4 class="subtitle text" style="color: #fff;">
                    Автомойка
                </h4>
                <p class="text" style="color: #fff">
                    Регулярное посещение качественной автомойки позволит вам дольше сохранить лакокрасочное покрытие в
                    первозданном виде и продлит срок его эксплуатации. Поддерживать автомобиль в чистом виде как
                    красиво,
                    так и полезно.
                    Также мы предлагаем услуги по возвращению ЛКП первоначального вида путем аккуратной полировки
                    элементов
                    и покрытия кузова защитным составом. Наши мастера готовы выполнить качественную химчистку салона
                    вашего
                    автомобиля, вне зависимости от его обивки и состояния, а также защитить салон от износа и грязи при
                    помощи специальных составов.
                </p>
                <a class="all__link" href="{% url 'wash' %}">Подробнее</a>
            </div>
            <div class="col-lg-6 p-0">
                <img class="all-img" src="{% static 'autowash/images/autowash2.jpg' %}" alt="">
            </div>
        </div>


        <div class="all__locksmith row all__items-item">
            <div class="col-lg-6 p-0">
                <img class="all-img" src="{% static 'autowash/images/locksmith2.jpg' %}" alt="">
            </div>
            <div class="col-lg-6" style="background-color: #212529; padding: 4rem;">
                <h4 class="subtitle text" style="color: #fff;">
                    Слесарные работы
                </h4>
                <p class="text" style="color: #fff">
                    Регулярная диагностика и своевременный ремонт отдельных узлов автомобиля продлят срок его
                    эксплуатации и
                    повысят комфорт и безопасность на дороге. Подвеска автомобиля подвергается износу больше остальных
                    систем, особенно на неровных дорогах.
                    Несмотря на сложность системы подвески, наши мастера готовы сделать тщательную диагностику
                    поврежденных
                    элементов и произвести качественный ремонт или замену детали. Кроме того, мастера могут выполнить
                    регулярные работы по обслуживанию вашего автомобиля: от замены масла и тормозных колодок до заправки
                    кондиционера.
                </p>
                <a class="all__link" href="{% url 'locksmith' %}">Подробнее</a>
            </div>
        </div>
    </div>
</section>


<section class="mobile">
    <div class="all__items">
        <h3 class="title red-line">
            Услуги и цены
        </h3>
        <div class="all__fitting row all_items-item">
            <div class="col-lg-6 p-0">
                <img class="all-img" src="{% static 'autowash/images/fitting2.jpg' %}" alt="">
            </div>
            <div class="col-lg-6" style="background-color: rgba(207, 42, 55, 0.95); padding: 4rem;">
                <h4 class="subtitle text" style="color: #fff;">
                    Шиномонтаж
                </h4>
                <p class="text" style="color: #fff">
                    Наши сервисы предлагают полный комплекс услуг по шиномонтажу: от переобувки и балансировки до
                    сезонного
                    хранения и сложного ремонта дисков. Наши мастера помогут вам подготовить автомобиль к сезону и
                    сделают
                    качественную диагностику состояния шин и дисков, а в случае необходимости проведут необходимые
                    ремонтные
                    работы. Когда дело касается безопасности, лучше довериться профессионалам, чтобы быть полностью
                    уверенными в своем автомобиле.
                </p>
                <a class="all__link" href="{% url 'fitting' %}">Подробнее</a>
            </div>

        </div>


        <div class="all__collapse row all_items-item">
            <div class="col-lg-6 p-0">
                <img class="all-img" src="{% static 'autowash/images/collapse2.jpg' %}" alt="">
            </div>
            <div class="col-lg-6" style="background-color: #212529; padding: 4rem;">
                <h4 class="subtitle text" style="color: #fff;">
                    Сход-развал
                </h4>
                <p class="text" style="color: #fff">
                    Устойчивое положение автомобиля на дороге – залог вашей безопасности и спокойствия. Регулярное
                    прохождение развала-схождения у специалистов позволит вам чувствовать себя на дороге увереннее и
                    продлить срок эксплуатации шин и подвески. Сход-развал рекомендуется выполнять при первых
                    подозрениях на
                    изменения или нарушения, а также для профилактики после длительной эксплуатации автомобиля. Наши
                    мастера
                    качественно выполнят свою работу на современном компьютерном оборудовании .
                </p>
                <a class="all__link" href="{% url 'collapse' %}">Подробнее</a>
            </div>
        </div>


        <div class="all__wash row all__items-item">
            <div class="col-lg-6 p-0">
                <img class="all-img" src="{% static 'autowash/images/autowash2.jpg' %}" alt="">
            </div>
            <div class="col-lg-6" style="background-color: rgba(207, 42, 55, 0.95); padding: 4rem;">
                <h4 class="subtitle text" style="color: #fff;">
                    Автомойка
                </h4>
                <p class="text" style="color: #fff">
                    Регулярное посещение качественной автомойки позволит вам дольше сохранить лакокрасочное покрытие в
                    первозданном виде и продлит срок его эксплуатации. Поддерживать автомобиль в чистом виде как
                    красиво,
                    так и полезно.
                    Также мы предлагаем услуги по возвращению ЛКП первоначального вида путем аккуратной полировки
                    элементов
                    и покрытия кузова защитным составом. Наши мастера готовы выполнить качественную химчистку салона
                    вашего
                    автомобиля, вне зависимости от его обивки и состояния, а также защитить салон от износа и грязи при
                    помощи специальных составов.
                </p>
                <a class="all__link" href="{% url 'wash' %}">Подробнее</a>
            </div>
        </div>


        <div class="all__locksmith row all__items-item">
            <div class="col-lg-6 p-0">
                <img class="all-img" src="{% static 'autowash/images/locksmith2.jpg' %}" alt="">
            </div>
            <div class="col-lg-6" style="background-color: #212529; padding: 4rem;">
                <h4 class="subtitle text" style="color: #fff;">
                    Слесарные работы
                </h4>
                <p class="text" style="color: #fff">
                    Регулярная диагностика и своевременный ремонт отдельных узлов автомобиля продлят срок его
                    эксплуатации и
                    повысят комфорт и безопасность на дороге. Подвеска автомобиля подвергается износу больше остальных
                    систем, особенно на неровных дорогах.
                    Несмотря на сложность системы подвески, наши мастера готовы сделать тщательную диагностику
                    поврежденных
                    элементов и произвести качественный ремонт или замену детали. Кроме того, мастера могут выполнить
                    регулярные работы по обслуживанию вашего автомобиля: от замены масла и тормозных колодок до заправки
                    кондиционера.
                </p>
                <a class="all__link" href="{% url 'locksmith' %}">Подробнее</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}