{% extends 'app.html' %}
{% load static%}

{% block content %}

<section class="collapse" style="display: block;">
    <div class="container">
        <div class="collapse__inner">
            <div class="collapse__title ">
                <h3 class="collapse__title-text title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                    Сход-развал в Каменки
                </h3>
            </div>
            <div class="collapse__content row">
                <div class="collapse__content-text col-lg-8">
                    <p class="text">
                        Сход-развал автомобиля – это процесс регулировки угла колес по отношению к кузову. Мастера
                        рекомендуют выполнять его не только после повреждений, но и в качестве профилактики при
                        длительной
                        эксплуатации автомобиля.
                        Выполнять данную работу необходимо, чтобы, во-первых, быть уверенным в маневренности на дороге
                        и,
                        во-вторых, избежать преждевременного износа покрышек и узлов подвески.
                    </p>
                    <ul>
                        <li>
                            1. Мастер определяет необходимость выполнения сход-развала.
                        </li>
                        <li>
                            2. Автомобиль устанавливается на специальный стенд.
                        </li>
                        <li>
                            3. Выполняется максимально точная настройка вашего автомобиля.
                        </li>
                        <li>
                            4. Мастер проверяет соответствие выполненной работы вашему автомобилю.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'autowash/images/collapse-img.jpg'%}" alt="" class="collapse__content-img">
                </div>
            </div>
        </div>
    </div>
</section>


<div class="banner">
    <p>Адрес: Кремль, Россия</p>
</div>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
                <th class="right-align">Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Шиномонтаж</td>
                <td class="right-align">1000 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>

            <!-- Добавьте остальные строки -->
        </tbody>
    </table>
</div>
<div class="banner">
    <p>Адрес: Кремль, Россия</p>
</div>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Услуга</th>
                <th class="right-align">Цена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Шиномонтаж</td>
                <td class="right-align">1000 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>
            <tr>
                <td>Сход-развал</td>
                <td class="right-align">500 руб.</td>
            </tr>

            <!-- Добавьте остальные строки -->
        </tbody>
    </table>
</div>

<section class="collapse__info mb-3">
    <div class="container">
        <div class="collapse__info-inner">
            <p class="text">Своевременный сход-развал авто – залог его длительной и успешной эксплуатации. С технической
                точки зрения этот термин (в обиходе автомобилистов встречается еще и формулировка «развал-схождение»)
                означает правильную регулировку угла колес по отношению к кузову. Езда с некорректными настройками может
                привести к повышенному износу покрышек, неисправности в работе рулевого механизма и подвески, стать
                причиной возникновения аварийной ситуации на дороге. Экономия на оборудовании и специалистах может быть
                губительна для вашего авто, ведь по рекомендациям автопроизводителей выполнять сход-развал необходимо
                хотя бы раз в год.</p>
        </div>
        <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
            Периодичность диагностики и настройки
        </h3>
        <div class="collapse__info-block row">
            <p class="text col-lg-9">
                Обычно диагностика угла регулировки колес осуществляется через каждые 15–20 тысяч километров пробега, а
                также после серьезного ремонта подвески и замены механизмов рулевого управления. В некоторых случаях
                сход-развал необходим и при сезонной смене покрышек. Данная процедура считается обязательной и при
                покупке подержанного автомобиля, ведь всецело доверять словам бывшего владельца – не самый надежный
                вариант.
            </p>
            <div class="col-lg-3">
                <img class="collapse__info-img" src="{% static 'autowash/images/collapse-img2.jpg'%}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="essence">
    <div class="container">
        <div class="essence__inner">
            <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">Суть работы</h3>
            <p class="text">Суть работы
                В центрах ««АвтоМаг»» все работы по регулировке угла колес проводятся на современном и
                высокотехнологичном оборудовании. Мы используем диагностические стенды Hoffman 3D XD, которые дают
                максимально точную информацию и позволяют вносить даже мелкие изменения в настройки машины. В наших
                центрах услугой сход-развал Вы можете воспользоваться круглосуточно, наши мастера готовы помочь Вам 24
                часа в сутки, 7 дней в неделю.
                Перед началом работы специалист обязательно проводит тщательную диагностику, ведь отклонения в
                показателях развала-схождения могут быть следствием серьезной неисправности ходовой части. После
                проверки работоспособности систем автомобиля производится изменение положения колес, а затем –
                дополнительная диагностика. Таким образом, исключается вероятность ошибки.
                Стоимость развал-схождения зависит от класса автомобиля (легковой, спортивный или внедорожник) и объема
                работы (задняя, передняя ось или обе). В любом случае цена работы будет гораздо ниже, чем возможные
                затраты при ремонте.
            </p>
        </div>
    </div>
</section>


<div class="advantages">
    <div class="container">
        <div class="advantages__inner" style="align-items: center;">
            <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">Наши преимущества</h3>
            <ul class="advantages__items">
                <li class="advantages__items-item">
                    <p class="item__numerate">

                    </p>
                    <p class="item__text">
                        Приемлемая цена на сход-развал в Каменки
                    </p>
                </li>
                <li class="advantages__items-item">
                    <p class="item__numerate">

                    </p>
                    <p class="item__text">
                        Современное оборудование от лучших мировых производителей
                    </p>
                </li>
                <li class="advantages__items-item">
                    <p class="item__numerate">

                    </p>
                    <p class="item__text">
                        Штат высококлассных специалистов с большим опытом работы
                    </p>
                </li>
                <li class="advantages__items-item">
                    <p class="item__numerate">

                    </p>
                    <p class="item__text">
                        Широкий спектр услуг, в том числе и в выездном режиме
                    </p>
                </li>
                <li class="advantages__items-item">
                    <p class="item__numerate">

                    </p>
                    <p class="item__text">
                        Удобный график работы и отлаженный сервис
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>


{% include 'map.html' %}

{% endblock content %}