{% extends 'app.html' %}
{% load static %}

{% block content %}

<section class="euro">
    <div class="container">
        <div class="euro__inner">
            <h3 class="euro__title">
                Евромойка
            </h3>
            <div class="euro__inner-block row">
                <div class="col-lg-8">
                    <p class="text">
                        Колеса дисков наиболее подвержены факторам окружающей среды. Вода, пыль и грязь, реагенты и
                        химикаты постоянно попадают на диски, покрывая их плёнкой, негативно влияющей на металл и
                        приводящей к коррозии. Для тщательной очистки точки «АвтоМаг» предлагают услугу по химчистке
                        дисков.
                    </p>
                    <ul>
                        <li>
                            1. Колесо отмывают от основной грязи мойкой под давлением
                        </li>
                        <li>
                            2. Диск обрабатывается специальным составом, вычищающим глубокие загрязнения из царапин и
                            микротрещин
                        </li>
                        <li>
                            3. Чистый диск обезжиривается для последующего нанесения защитного покрытия
                        </li>
                        <li>
                            4. Мастер обрабатывает диск защитным покрытием, предохраняющим от ржавчины Iron.X
                        </li>
                        <li>
                            5. Поверхность диска тщательно высушивается воздухом под давлением
                        </li>
                        <li>
                            6. Диск обрабатывается полиролью на основе керамики, защищающей от коррозии и ультрафиолета
                            и дающей гидрофобный эффект
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <img style="    max-width: 80%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" class="" src="{% static 'autowash/images/remont.jpg'%}" alt="">
                </div>
            </div>
            <div class="diskclear__images row">
                <div class="col-lg-4">
                    <img style="    max-width: 80%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" src="{% static 'autowash/images/remont.jpg' %}" alt="">
                </div>
                <div class="col-lg-4">
                    <img style="    max-width: 80%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" src="{% static 'autowash/images/remont.jpg' %}" alt="">
                </div>
                <div class="col-lg-4">
                    <img style="    max-width: 80%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" src="{% static 'autowash/images/remont.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
        Наши цены
    </h3>
    <table class="euro__table">
        <thead>
            <tr>
                <th class="expresswash__table-text">Услуга</th>
                <th class="expresswash__table-text">1 класс*</th>
                <th class="expresswash__table-text">2 класс*</th>
                <th class="expresswash__table-text">3 класс*</th>
                <th class="expresswash__table-text">4 класс*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expresswash__table-text">Мойка снятых колес за 4 шт. без протирки R13 - R16</td>
                <td class="expresswash__table-text">150 руб. 1шт</td>
                <td class="expresswash__table-text">150 руб. 1шт</td>
                <td class="expresswash__table-text">150 руб. 1шт </td>
                <td class="expresswash__table-text">150 руб. 1шт.</td>
            </tr>
            <tr>
                <td class="expresswash__table-text">Мойка снятых колес за 4 шт. без протирки R17 и выше</td>
                <td class="expresswash__table-text">200 руб.</td>
                <td class="expresswash__table-text">200 руб.</td>
                <td class="expresswash__table-text">200 руб.</td>
                <td class="expresswash__table-text">200 руб.</td>
            </tr>
            <tr>
                <td class="expresswash__table-text">КОМПЛЕКС (шины +диски - удаление битума, накипи от колодок,
                    консервант дисков и резины)</td>
                <td class="expresswash__table-text">1200 руб. за комплект</td>
                <td class="expresswash__table-text">1600 руб. за комплект</td>
                <td class="expresswash__table-text">1600 руб. за комплект</td>
                <td class="expresswash__table-text">1600 руб. за комплект</td>
            </tr>

            <!-- Добавьте остальные строки -->
        </tbody>
    </table>
    <p style="font-size: 0.7rem; color:dimgrey; font-weight: 600;">
        (Бесконтактная мойка, Мойка пористой губкой и шампунем, Мойка колесных дисков, Комплексная уборка салона
        (коврики/пороги/пылесос/пластик/стекла), Полная продувка кузова, Покрытие воском,Чернение резины) <br>
        1 класс* - Автомобили класса "мини" <br>
        2 класс* - Автомобили малого и среднего класса <br>
        3 класс* - Автомобили бизнес и представительского классов, универсалы, кроссоверы, минивены <br>
        4 класс* - Большие внедорожники и микроавтобусы
    </p>
</div>

{% include 'map.html' %}


{% endblock content %}