{% extends 'app.html' %}
{% load static %}

{% block content %}

<section class="euro">
    <div class="container">
        <div class="euro__inner">
            <h3 class="euro__title">
                Мойка двигателя и радиатора
            </h3>
            <div class="euro__inner-block row">
                <div class="col-lg-8">
                    <p class="text">
                        Мойка двигателя – это одна из важнейших процедур в комплексе услуг по техническому обслуживанию
                        автомобиля. В процессе эксплуатации в пространство под капотом попадают грязь, пыль, остатки
                        рабочих жидкостей. Если не уделять состоянию двигателя должного внимания, со временем это
                        приведет к возникновению коррозии и к выходу из строя основных узлов ходовой системы авто.
                        Не рекомендуется выполнять эту процедуру самостоятельно, чтобы избежать необратимых повреждений
                        агрегата и других узлов
                    </p>
                    <ul>
                        <li>
                            1. Бесконтактная мойка автомобиля, убирающая основную грязь с кузова и из щелей
                        </li>
                        <li>
                            2. Тщательная мойка нанопористой губкой и химическим составом, ликвидирующим въевшуюся грязь
                            из микротрещин
                        </li>
                        <li>
                            3. Мойка колесных дисков химическим составом
                        </li>
                        <li>
                            4. Полная продувка кузова
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <img style="    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" class="" src="{% static 'autowash/images/remont.jpg'%}" alt="">
                </div>
            </div>
            <p class="text">Специалисты рекомендует выполнять качественную мойку силового агрегата автомобиля хотя бы
                раз в год. Вот лишь несколько аргументов в пользу обращения в сертифицированный автосервис: </p>

            <ul>
                <li>
                    Снижает вероятность возгорания по причине короткого замыкания;
                </li>
                <li>
                    В процессе мойки двигателя машина проходит качественную предпродажную подготовку;
                </li>
                <li>
                    Своевременная мойка облегчает прохождение технического осмотра, ведь в процессе работы можно
                    оперативно выявить течи рабочих жидкостей в ходовой части и устранить их;
                </li>
            </ul>
            <h3 class="title">
                Специфика работы
            </h3>
            <p class="text">
                Если вы хотите заказать профессиональную мойку, специалисты шинных центров ««АвтоМаг»» помогут вернуть
                моторному отсеку привлекательный внешний вид. Главное преимущество обращения к профессионалам – это
                безопасная технология обработки, которая исключает использование воды. Дистиллированная вода нагревается
                до температуры кипения и в виде пара распыляется на двигатель. Любые загрязнения, начиная от пыли и
                заканчивая засохшим маслом или бензином, удаляются в короткое время. А за счет высокой температуры
                остатки влажного пара быстро испаряются и не могут стать причиной повреждения электрики. Еще одним
                преимуществом паровой автомойки двигателя является экономичность: на один автомобиль требуется всего
                пара литров дистиллированной воды.
            </p>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <img style="    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" src="{% static 'autowash/images/engine.jpg' %}" alt="">
                </div>
                <div class="col-lg-4 mb-3">
                    <img style="    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" src="{% static 'autowash/images/engine.jpg' %}" alt="">
                </div>
                <div class="col-lg-4 mb-3">
                    <img style="    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" src="{% static 'autowash/images/engine.jpg' %}" alt="">
                </div>
            </div>
            <p class="text">
                Обращение к специалистам шинных центров ««АвтоМаг»» – это современный подход к техническому
                обслуживанию авто любых марок. Мы работаем 24 часа в сутки без выходных. Сделайте всего один звонок
                и обеспечьте своему авто длительную и безопасную эксплуатацию на выгодных условиях!
            </p>
        </div>
    </div>
</section>
<div class="container">
    <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
        Наши цены
    </h3>
    <table class="euro__table">
        <thead>
            <tr>
                <th class="expresswash__table-text">Услуга</th>
                <th class="expresswash__table-text">1 класс*</th>
                <th class="expresswash__table-text">2 класс*</th>
                <th class="expresswash__table-text">3 класс*</th>
                <th class="expresswash__table-text">4 класс*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expresswash__table-text">Турбо сушка двигателя</td>
                <td class="expresswash__table-text">100 руб.</td>
                <td class="expresswash__table-text">100 руб.</td>
                <td class="expresswash__table-text">100 руб.</td>
                <td class="expresswash__table-text">100 руб.</td>
            </tr>
            <!-- Добавьте остальные строки -->
        </tbody>
    </table>
    <p style="font-size: 0.7rem; color:dimgrey; font-weight: 600;">
        1 класс* - Автомобили класса "мини" <br>
        2 класс* - Автомобили малого и среднего класса <br>
        3 класс* - Автомобили бизнес и представительского классов <br>
        4 класс* - Средние джипы, кроссоверы, минивэны<br>
        5 класс* - Джипы<br>
        6 класс* - Микроавтобусы
    </p>
</div>

{% include 'map.html' %}


{% endblock content %}