{% extends 'app.html' %}
{% load static %}

{% block content %}

<section class="expresswash">
    <div class="container">
        <div class="expresswash__inner">
            <h3 class="expresswash__title">
                Экспресс мойка
            </h3>
            <div class="expresswash__inner-block row">
                <div class="col-lg-8">
                    <p class="text">
                        Автомойка не всегда подразумевает тщательную обработку кузова и салона автомобиля.
                        Иногда необходимо
                        просто убрать основную грязь и пыль с кузова автомобиля – для этого мы предлагаем услугу
                        Экспресс-мойка.
                        Такой тип мойки поможет избавиться от въевшейся пыли, грязи после поездки по бездорожью и прочих
                        крупных загрязнений.
                    </p>
                    <ul>
                        <li>
                            1. Бесконтактная мойка специальным составом убирает грязь с кузова и из щелей
                        </li>
                        <li>
                            2. Протираются стёкла снаружи
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <img style="    max-width: 80%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" class="" src="{% static 'autowash/images/remont.jpg'%}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
        Цены на мойку авто
    </h3>
    <table class="expresswash__table">
        <thead>
            <tr>
                <th class="expresswash__table-text">1 класс*</th>
                <th class="expresswash__table-text">2 класс*</th>
                <th class="expresswash__table-text">3 класс*</th>
                <th class="expresswash__table-text">4 класс*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expresswash__table-text">300 руб.</td>
                <td class="expresswash__table-text">300 руб.</td>
                <td class="expresswash__table-text">380 руб.</td>
                <td class="expresswash__table-text">420 руб.</td>
            </tr>

            <!-- Добавьте остальные строки -->
        </tbody>
    </table>
    <p style="font-size: 0.7rem; color:dimgrey; font-weight: 600;">1 класс* - Автомобили класса "мини" <br>
        2 класс* - Автомобили малого и среднего класса <br>
        3 класс* - Автомобили бизнес и представительского классов, универсалы, кроссоверы, минивены <br>
        4 класс* - Большие внедорожники и микроавтобусы
    </p>
</div>

{% endblock content %}