{% extends 'app.html' %}
{% load static%}

{% block content %}

<div class="fitting">
    <div class="container">
        <div class="fitting__inner">
            <h3 class="title fitting__title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                Шиномонтаж
            </h3>
            <p class="fitting__text text">

            </p>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/sezfit.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Сезонный шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/tirrep.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Ремонт шин</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/repdisc.jpeg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Ремонт дисков</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/balance.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Балансировка</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/montage.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Установка, съем, монтаж, демонтаж машин</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/air.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Накачка шин</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/secret.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Снятие секреток</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/stupic.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Профилактика ступиц</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/clear.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Зачитска бортов</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/germ.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Герметизация колёс</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/wini.jpg' %}" alt=""
                            style="max-width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Хранение шин</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12 fitting__item" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/util.jpeg' %}" alt=""
                            style="width: 100%; height: 200px; display: block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Утилизация колес</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}