{% extends 'app.html' %}
{% load static%}

{% block content %}




<!-- <div class="parallax">
        <div class="background"></div>
        <div class="content" style="text-align: center;">
            <h1>Работаем в Каменки без выходных</h1>
            <p>Шиномонтаж, сход-развал, автомойка и слесарные работы</p>
        </div>
    </div> -->

<div class="info">
    <div class="info__img-container">
        <div class="info__img"></div>
        <div class="info__content">
            <p>Работаем без выходных
                в Каменке</p>
            <div class="logo-3" style="width: 330px;">
                <img class="" style="width: 100%;" src="{% static '/autowash/images/logo3.png' %}" alt="">
            </div>
            <p>8:00 - 20:00</p>
            <div class="logo-1" style="width: 300px;">
                <img class="" style="width: 100%;" src="{% static '/autowash/images/logo1.png' %}" alt="">
            </div>
            <p>9:00 - 18:00</p>
        </div>

    </div>
    <div class="container">
        <div class="info__inner">

        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="services__inner">
            <div class="services__inner-text mt-3">
                <h2 class="services__inner-title title"
                    style="display: inline-block; border-bottom: 4px solid #e91e63;">Услуги нашего центра</h2>
                <p class="services__inner-desc">Выберите интересующую вас услугу и нажмите на нее</p>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-lg-4 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'wash' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a href="{% url 'wash' %}" style="display: block; text-decoration: none; color: #000;"
                        href="#">Автомойка</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'shop' %}">
                        <img class="wash-img" src="{% static 'autowash/images/shop.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a href="{% url 'shop' %}" style="display: block; text-decoration: none; color: #000;"
                        href="#">Магазин</a>
                </div>
                <!-- <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/coleso.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/coleso.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/coleso.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div> -->
            </div>
        </div>
    </div>
</div>

{% include 'map.html' %}

<div class="about">
    <div class="container">
        <div class="about__text-1 text mt-3">
            <p>«АвтоМаг» – автомойка и магазин в Каменке, оказывающий широкий спектр услуг на выгодных
                условиях.</p>
        </div>
    </div>
</div>

<section class=" range">
    <div class="container">
        <div class="range__inner">
            <div class="range__text">
                <h2 class="range__text-title title"
                    style="text-align: center; display: inline-block; border-bottom: 4px solid #e91e63">
                    Ассортимент услуг
                </h2>
                <p class="range__text-text text">
                    Спектр услуг, оказываемых специалистами «АвтоМаг».
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                1
                            </p>
                            <p class="item__text">
                                Мойка автомобилей различных категорий
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                2
                            </p>
                            <p class="item__text">
                                Уборка салона
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                3
                            </p>
                            <p class="item__text">
                                Мойка комплектующих транспорта
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                4
                            </p>
                            <p class="item__text">
                                Наличие магазина
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                5
                            </p>
                            <p class="item__text">
                                Сухой туман
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                6
                            </p>
                            <p class="item__text">
                                Полирование
                            </p>
                        </li>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="price">
    <div class="container">
        <div class="price__title">
            <h2 class="price__title-title title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                Условия и
                цены</h2>
        </div>
        <div class="price__text">
            <p class="price__text text">
                Главное преимущество нашего центра – это гармоничное сочетание цены и качества оказываемых услуг.
                Можете не сомневаться: у нас вы найдете не только гарантированно качественную автомойку, но и самые
                приемлемые цены в Каменке.
            </p>
            <p class="price__text text">
                Мы предлагаем прозрачное ценообразование и развернутый прайс услуг. Каждый заказ выполняется в
                индивидуальном порядке, а все мероприятия согласуются с автовладельцами. Более подробную информацию
                об условиях, полном комплексе услуг, специальных предложениях можно получить у
                консультантов «АвтоМаг» по указанному на сайте телефону.
            </p>
        </div>
    </div>
</section>

<div class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <h2 class="advantages__inner-title title"
                style="text-align: center; display: inline-block; border-bottom: 4px solid #e91e63">
                Наши преимущества
            </h2>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                1
                            </p>
                            <p class="item__text">
                                Быстрая работа
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                2
                            </p>
                            <p class="item__text">
                                Низкие цены
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                3
                            </p>
                            <p class="item__text">
                                Разнообразие предоставляемых услуг
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                4
                            </p>
                            <p class="item__text">
                                Вежливый персонал
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                5
                            </p>
                            <p class="item__text">
                                Богатый ассортимент в магазине
                            </p>
                        </li>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <ul class="advantages__items">
                        <li class="advantages__items-item range__item">
                            <p class="item__numerates">
                                6
                            </p>
                            <p class="item__text">
                                Легкая доступность
                            </p>
                        </li>
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock content %}