{% extends 'app.html' %}
{% load static %}

{% block content %}

<section class="euro">
    <div class="container">
        <div class="euro__inner">
            <h3 class="euro__title">
                Нано мойка
            </h3>
            <div class="euro__inner-block row">
                <div class="col-lg-8">
                    <p class="text">
                        Мало кто знает, что автомобиль теряет первоначальный блеск из-за микротрещин, образующихся во
                        время эксплуатации. Избавиться от них можно при помощи тщательной автомойки и полировки кузова
                        специальным составом.
                        Специалисты автомойки «АвтоМаг» помогут вернуть автомобилю первоначальный блеск, удалив грязь из
                        самых мелких трещин.
                    </p>
                    <ul>
                        <li>
                            1. Бесконтактная мойка автомобиля, убирающая основную грязь с кузова и из щелей
                        </li>
                        <li>
                            2. Тщательная мойка нанопористой губкой и химическим составом, ликвидирующим въевшуюся грязь
                            из микротрещин
                        </li>
                        <li>
                            3. Мойка колесных дисков химическим составом
                        </li>
                        <li>
                            4. Полная продувка кузова
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <img style="    max-width: 80%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    display: inline-block;" class="" src="{% static 'autowash/images/remont.jpg'%}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
        Наши цены
    </h3>
    <table class="euro__table">
        <thead>
            <tr>
                <th class="expresswash__table-text">Услуга</th>
                <th class="expresswash__table-text">1 класс*</th>
                <th class="expresswash__table-text">2 класс*</th>
                <th class="expresswash__table-text">3 класс*</th>
                <th class="expresswash__table-text">4 класс*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="expresswash__table-text">Евромойка кузова</td>
                <td class="expresswash__table-text">300 руб.</td>
                <td class="expresswash__table-text">300 руб.</td>
                <td class="expresswash__table-text">380 руб.</td>
                <td class="expresswash__table-text">420 руб.</td>
            </tr>
            <tr>
                <td class="expresswash__table-text">Нано мойка + пылесос</td>
                <td class="expresswash__table-text">300 руб.</td>
                <td class="expresswash__table-text">300 руб.</td>
                <td class="expresswash__table-text">380 руб.</td>
                <td class="expresswash__table-text">420 руб.</td>
            </tr>
            <tr>
                <td class="expresswash__table-text">Нано мойка кузова комплекс</td>
                <td class="expresswash__table-text">300 руб.</td>
                <td class="expresswash__table-text">300 руб.</td>
                <td class="expresswash__table-text">380 руб.</td>
                <td class="expresswash__table-text">420 руб.</td>
            </tr>

            <!-- Добавьте остальные строки -->
        </tbody>
    </table>
    <p style="font-size: 0.7rem; color:dimgrey; font-weight: 600;">
        Нано мойка кузова комплекс - Бесконтактная мойка, Мойка пористой губкой и шампунем (арки, пороги, коврики),
        Мойка колесных дисков кислотным, Комплексная уборка салона (коврики/пороги/пылесос/пластик/стекла), Полная
        продувка кузова, Консервация ЛКП - Twin Wax, Чернение резины <br>
        1 класс* - Автомобили класса "мини" <br>
        2 класс* - Автомобили малого и среднего класса <br>
        3 класс* - Автомобили бизнес и представительского классов, универсалы, кроссоверы, минивены <br>
        4 класс* - Большие внедорожники и микроавтобусы
    </p>
</div>

{% include 'map.html' %}


{% endblock content %}