{% extends 'app.html' %}
{% load static %}

{% block title%}Фото-магазин{% endblock %}

{% block content %}

<div class="photoshop mt-3">
    <div class="container">
        <div class="photoshop__inner row ">
            <div class="photowash__inner-img col-lg-4 col-sm-6 col-xs-12 mb-2"
                style="margin-right: auto; margin-left: auto;">
                <img class="" src="{% static 'autowash/images/ps1.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>
            <div class="photowash__inner-img col-lg-4 col-sm-6 col-xs-12 mb-2"
                style="margin-right: auto; margin-left: auto;">
                <img class="" src="{% static 'autowash/images/pw1.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>
            <div class="photowash__inner-img col-lg-4 col-sm-6 col-xs-12 mb-2"
                style="margin-right: auto; margin-left: auto;">
                <img class="" src="{% static 'autowash/images/pw2.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>
            <div class="photowash__inner-img col-lg-4 col-sm-6 col-xs-12 mb-2"
                style="margin-right: auto; margin-left: auto;">
                <img class="" src="{% static 'autowash/images/ps3.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>
            <div class="photowash__inner-img col-lg-4 col-sm-6 col-xs-12 mb-2"
                style="margin-right: auto; margin-left: auto;">
                <img class="" src="{% static 'autowash/images/ps4.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>
            <div class="photowash__inner-img col-lg-4  col-sm-6 col-xs-12 mb-2">
                <img class="" src="{% static 'autowash/images/ps5.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>
            <div class="photowash__inner-img col-lg-4  col-sm-6 col-xs-12 mb-2">
                <img class="" src="{% static 'autowash/images/ps6.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>
            <div class="photowash__inner-img col-lg-4  col-sm-6 col-xs-12 mb-2">
                <img class="" src="{% static 'autowash/images/ps7.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>
            <div class="photowash__inner-img col-lg-4  col-sm-6 col-xs-12 mb-2">
                <img class="" src="{% static 'autowash/images/ps8.jpg' %}" alt=""
                    style="width: 100%; height: 500px; display: inline-block;">
            </div>

        </div>
    </div>
</div>

{% endblock %}