{% extends 'app.html' %}
{% load static%}

{% block title%}Магазин{% endblock %}

{% block content %}

<section class="shop mt-3">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-8" style="text-align: center; margin-left: auto; margin-right: auto;">
                <img style="width: 90%;" src="{% static '/autowash/images/logo1.png' %}" alt="">
            </div>
        </div>
        <div class="shop__inner">
            <h3 class="title">
                Магазин
            </h3>
            <p class="text">
                Наши услуги автомойки просто бесценны для вашего автомобиля, но мы идем дальше, предлагая вам
                возможность приобрести необходимые автомобильные товары прямо здесь, на месте. Ведь мы знаем, что вашему
                автомобилю нужно не только моющее внимание, но и правильный уход.
                Магазин автомойки: ваш надежный партнер в уходе за автомобилем.</span>
            </p>
            <p class="text">
                Наш магазин предлагает широкий ассортимент товаров для автомобилей, включая:
            </p>
            <ul>
                <li class="text"><span>1. Масла</span>: В нашем магазине вы найдете широкий ассортимент масел,
                    предназначенных для обеспечения оптимальной работы двигателя вашего автомобиля. Мы предлагаем масла
                    разных марок и вязкостей, чтобы соответствовать потребностям различных автомобилей. Наши сотрудники
                    могут помочь вам выбрать подходящее масло и дать советы по его замене.</li>
                <li class="text"><span>2. Фильтры</span>: Регулярная замена масляных и воздушных фильтров - это
                    неотъемлемая часть обслуживания автомобиля. В нашем магазине вы найдете высококачественные фильтры,
                    предназначенные для разных марок и моделей автомобилей. Мы уделяем внимание качеству, чтобы
                    обеспечить надежную защиту двигателя и чистый воздух в салоне вашего автомобиля.</li>
                <li class="text"><span>3. Другие автотовары</span>: У нас также есть широкий выбор других товаров,
                    которые могут
                    пригодиться вам при уходе за автомобилем. Это может быть всё от автомобильной химии и средств для
                    ухода за кузовом до аксессуаров и инструментов для самостоятельного обслуживания</li>
            </ul>

            <p class="text">
                Наши сотрудники готовы помочь вам выбрать правильные товары и дать советы по их использованию. Так что
                если вы хотите, чтобы ваш автомобиль всегда выглядел и работал на высшем уровне, загляните в наш магазин
                при следующем визите на автомойку. Мы здесь, чтобы сделать уход за вашим автомобилем проще и удобнее.
            </p>
        </div>
    </div>
</section>

{% endblock content %}