{% extends 'app.html' %}
{% load static %}

{% block content %}

<section class="wash">
    <div class="container">
        <div class="wash__inner">
            <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                Круглосуточная комплексная автомойка в Москве
            </h3>
            <p class="text">
                Выберите интересующую вас услугу и нажмите на нее
            </p>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
            </div>
            <p class="text">
                Мойка машины является залогом ее эстетичного внешнего вида и максимально долгой эксплуатации. Как
                известно, на кузов авто постоянно воздействуют мелкие частички пыли и грязи, причем даже при
                аккуратной езде по городу. Если автомобиль активно эксплуатируют зимой, то дополнительным фактором
                риска становится воздействие песка, соли и химических веществ, которыми пользуются дорожные службы.
                Все это может стать причиной появления на кузове микротрещин, которые влияют на быстрое
                распространение коррозии, а также лишают автомобиль привычного блеска.
            </p>
            <p class="text">
                Решить эти проблемы поможет автомойка 24 часа, обслуживающая клиентов в удобное для них время.
                Опытные специалисты «Метеор 24» сделают все необходимое, чтобы ваша машина выглядела презентабельно
                в любую пору года!
            </p>
            <p class="text">
                Мы предлагаем широкий спектр услуг, который включает комплексную ручную и бесконтактную мойку,
                чистку багажника, а также уход за арками, фонарями, бамперами и прочими частями авто. Наши
                специалисты используют только высокотехнологичные составы и современные методики, что гарантирует
                высокое качество оказываемых услуг. Вас приятно удивят цены на мойку автомобиля, внимательный подход
                к клиентам и удобный график работы!
            </p>
            <p class="text">
                Связаться с нашими сотрудниками, чтобы получить ответы на интересующие вопросы, вы можете по
                телефонам, указанным в разделе «Адреса и контакты» на этом сайте.
            </p>

        </div>
    </div>
</section>

    <div class="container">
        <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
            Цены на мойку авто
        </h3>
        <table>
            <thead>
                <tr>
                    <th>Наименование услуги</th>
                    <th class="right-align">1 класс*</th>
                    <th class="right-align">2 класс*</th>
                    <th class="right-align">3 класс*</th>
                    <th class="right-align">4 класс*</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Шиномонтаж</td>
                    <td class="right-align">1000 руб.</td>
                    <td class="right-align">1000 руб.</td>
                    <td class="right-align">1000 руб.</td>
                    <td class="right-align">1000 руб.</td>
                </tr>
                <tr>
                    <td>Сход-развал</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                </tr>
                <tr>
                    <td>Сход-развал</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                </tr>
                <tr>
                    <td>Сход-развал</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                </tr>
                <tr>
                    <td>Сход-развал</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                </tr>
                <tr>
                    <td>Сход-развал</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                </tr>
                <tr>
                    <td>Сход-развал</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                    <td class="right-align">500 руб.</td>
                </tr>

                <!-- Добавьте остальные строки -->
            </tbody>
        </table>
        <p style="font-size: 0.7rem; color:dimgrey; font-weight: 600;">1 класс* - Автомобили класса "мини" <br>
            2 класс* - Автомобили малого и среднего класса <br>
            3 класс* - Автомобили бизнес и представительского классов, универсалы, кроссоверы, минивены <br>
            4 класс* - Большие внедорожники и микроавтобусы
        </p>
    </div>

<section class="chemistry">
    <div class="container">
        <div class="chemistry__inner">
            <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                Химчистка
            </h3>
            <p class="text">
                Выберите интересующую вас услугу и нажмите на нее
            </p>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
            </div>
            <div class="divider mt-3 mb-3"></div>
            <p class="text"> Эстетичный и аккуратный салон – важная составляющая внешнего вида вашего автомобиля. Для
                максимального эффекта нужно пользоваться профессиональными химическими составами и проводить регулярную
                уборку. Лишь опытные специалисты на автомойке сумеют корректно подобрать технологию химической обработки
                салона и предложить правильное решение с учетом материала и способа обивки. <br> <br>
                Мы успешно работаем с кожей и резиной, пластиком, тканью и велюром, ведь используемые нами средства
                профессиональной автохимии Koch способны давать потрясающий результат в самые короткие сроки. Чистка
                резинового коврика с помощью пылесоса, обработка лобового стекла, двигателя и колесных дисков – далеко
                не полный перечень наших услуг. <br> <br>
                Можете не беспокоиться о здоровой атмосфере внутри салона, ведь предлагаемые нами составы обладают
                гипоаллергенным эффектом и абсолютно безвредны даже для детей. Максимально глубокая степень очистки
                любого материала гарантирует лоск и внешнюю привлекательность на долгие годы. При этом у нас одни из
                самых выгодных цен в Москве, а удобный график работы и использование профессионального оборудования в
                руках опытных специалистов надежно защитят ваш автомобиль! </p>
        </div>
    </div>
</section>


<section class="guard">
    <div class="container">
        <div class="guard__inner">
            <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                Химчистка
            </h3>
            <p class="text">
                Выберите интересующую вас услугу и нажмите на нее
            </p>
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/polirol.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/polirol.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12" style="text-align: center;">
                    <a href="#"> <img src="{% static 'autowash/images/polirol.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;"></a>
                    <a style="text-decoration: none; color: #000;" href="#">Шиномонтаж</a>
                </div>
            </div>
            <div class="divider mt-3 mb-3"></div>
            <p class="text"> Своевременная полировка автомобиля поможет устранить микротрещины и сберечь кузов от
                коррозии и дальнейшего разрушения. Профессиональная обработка кузова включает в себя: </p>
            <ul style="list-style-type: disc; margin-left: 16px;">
                <li class="text">
                    Снятие тонкого слоя лакокрасочного покрытия
                </li>
                <li class="text">
                    Удаление грязи
                </li>
                <li class="text">
                    Восстановление былого блеска и яркости
                </li>
            </ul>
            <p class="text"> Для максимального эффекта специалисты «Метеор 24» используют сразу несколько технологий
                (защитная,
                поверхностная или восстановительная полировка). Все зависит от степени повреждения лакокрасочного
                покрытия и текущего состояния кузова. Мы проведем тщательную диагностику и подберем оптимальный вариант
                с учетом цены. <br> <br>
                Недорогая автомойка в Москве – это реально! Изучите прайс и ассортимент услуг «Метеор 24» и убедитесь в
                этом сами. По всем интересующим вопросам обращайтесь к консультантам нашего центра по телефону. </p>
        </div>
    </div>
</section>





{% endblock content %}