{% extends 'app.html' %}
{% load static %}

{% block content %}

<section class="wash mt-3">
    <div class="container">
        <div class="wash__inner">
            <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                Автомойка в Каменке
            </h3>
            <!-- <p class="text">
                Выберите интересующую вас услугу и нажмите на нее
            </p>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'expresswash' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Экспресс-мойка</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'euro' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Евромойка</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'nano' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Наномойка</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'engine' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Мойка двигателя</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'interior' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Уборка салона</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'cons' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Консервация и чернение</a>
                </div>
            </div> -->
            <p class="text">
                Мойка машины является залогом ее эстетичного внешнего вида и максимально долгой эксплуатации. Как
                известно, на кузов авто постоянно воздействуют мелкие частички пыли и грязи, причем даже при
                аккуратной езде по городу. Если автомобиль активно эксплуатируют зимой, то дополнительным фактором
                риска становится воздействие песка, соли и химических веществ, которыми пользуются дорожные службы.
                Все это может стать причиной появления на кузове микротрещин, которые влияют на быстрое
                распространение коррозии, а также лишают автомобиль привычного блеска.
            </p>
            <p class="text">
                Решить эти проблемы поможет автомойка, обслуживающая клиентов в удобное для них время.
                Опытные специалисты «АвтоМаг» сделают все необходимое, чтобы ваша машина выглядела презентабельно
                в любую пору года!
            </p>
            <p class="text">
                Мы предлагаем широкий спектр услуг, который включает комплексную ручную и бесконтактную мойку,
                чистку багажника, а также уход за арками, фонарями, бамперами и прочими частями авто. Наши
                специалисты используют только высокотехнологичные составы и современные методики, что гарантирует
                высокое качество оказываемых услуг. Вас приятно удивят цены на мойку автомобиля, внимательный подход
                к клиентам и удобный график работы!
            </p>
            <p class="text">
                Связаться с нашими сотрудниками, чтобы получить ответы на интересующие вопросы, вы можете по
                телефонам, указанным в разделе «Адреса и контакты» на этом сайте.
            </p>

        </div>
    </div>
</section>

<div class="container">
    <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
        Прейскурант цен на услуги
    </h3>
    <table class="table__price">
        <thead>
            <tr>
                <th>Услуга</th>
                <th class="right-align">1 класс*</th>
                <th class="right-align">2 класс*</th>
                <th class="right-align">3 класс*</th>
                <th class="right-align">4 класс*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Мойка а/м снаружи, без протирки, без ковриков</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">200 руб.</td>
                <td class="right-align">250 руб.</td>
                <td class="right-align">300 руб.</td>
            </tr>
            <tr>
                <td>Мойка а/м + п/г без протирки, без ковриков
                </td>
                <td class="right-align">200 руб.</td>
                <td class="right-align">250 руб.</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">350 руб.</td>
            </tr>
            <tr>
                <td>Мойка с протиркой + п/г , без ковриков</td>
                <td class="right-align">250 руб.</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">350 руб.</td>
                <td class="right-align">400 руб.</td>
            </tr>
            <tr>
                <td>Мойка с протиркой + п/г + 4 коврика</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">350 руб.</td>
                <td class="right-align">400 руб.</td>
                <td class="right-align">450 руб.</td>
            </tr>
            <tr>

                <td><span>Комплекс</span>
                    Мойка с протиркой + п/г + 4 коврика + пылесос + влажная уборка</td>
                <td class="right-align">450 руб.</td>
                <td class="right-align">500 руб.</td>
                <td class="right-align">550 руб.</td>
                <td class="right-align">650 руб.</td>
            </tr>
            <tr>
                <td><span>Комплекс+</span>
                    Мойка с протиркой + п/г + 4 коврика + пылесос + багажник + влажная уборка пластика</td>
                <td class="right-align">500 руб.</td>
                <td class="right-align">550 руб.</td>
                <td class="right-align">600 руб.</td>
                <td class="right-align">-</td>
            </tr>
            <tr>
                <td>Мойка ковриков</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">-</td>
            </tr>
            <tr>
                <td>Мойка двигателя</td>
                <td class="right-align">250 руб.</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
            </tr>
            <tr>
                <td>Полироль пластика</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">100 руб.</td>
            </tr>
            <tr>
                <td>Чистка лобового стекла</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">100 руб.</td>
            </tr>
            <tr>
                <td>Чистка лобового стекла изнутри</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">200 руб.</td>
                <td class="right-align">150 руб.</td>
            </tr>
            <tr>
                <td>Уборка салона пылесосом</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
            </tr>
            <tr>
                <td>Уборка багажника пылесосом</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">-</td>
            </tr>
            <tr>
                <td>Влажная уборка пластика</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">70 руб.</td>
                <td class="right-align">50 руб.</td>
            </tr>
            <tr>
                <td>Мойка снятых колес за 4 шт. без протирки R13 - R16</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
            </tr>
            <tr>
                <td>Мойка снятых колес за 4 шт. без протирки R17 и выше</td>
                <td class="right-align">200 руб.</td>
                <td class="right-align">200 руб.</td>
                <td class="right-align">200 руб.</td>
                <td class="right-align">200 руб.</td>
            </tr>
            <tr>
                <td>Покрытие а/м полимером</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">-</td>
            </tr>
            <tr>
                <td>Покрытие а/м полимерной пастой</td>
                <td class="right-align">200 руб.</td>
                <td class="right-align">200 руб.</td>
                <td class="right-align">250 руб.</td>
                <td class="right-align">-</td>
            </tr>
            <tr>
                <td>Обработка кожи кондиционером за одно посадочное место</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
            </tr>
            <tr>
                <td>Мойка радиатора на а/м</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
            </tr>
            <tr>
                <td>Сухой туман</td>
                <td class="right-align">600 руб.</td>
                <td class="right-align">700 руб.</td>
                <td class="right-align">800 руб.</td>
                <td class="right-align">-</td>
            </tr>
            <tr>
                <td>Сухой туман</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">50 руб.</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">-</td>
            </tr>
            <tr>
                <td>Мойка снятого радиатора легковых а/м со спец. средством</td>
                <td class="right-align">250 руб.</td>
                <td class="right-align">250 руб.</td>
                <td class="right-align">250 руб.</td>
                <td class="right-align">-</td>
            </tr>
            <tr>
                <td>Турбо сушка двигателя</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">100 руб.</td>
                <td class="right-align">100 руб.</td>
            </tr>
            <tr>
                <td>Мойка снятого радиатора трактора, грузового а/м</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
            </tr>

            <!-- Добавьте остальные строки -->
        </tbody>
    </table>
    <p style="font-size: 0.7rem; color:dimgrey; font-weight: 600;">
        1 класс* - Легковые а/м, Нива <br>
        2 класс* - Кроссоверы <br>
        3 класс* - Джипы <br>
        4 класс* - Большие внедорожники и микроавтобусы
    </p>

    <h4 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">Другие транспорты</h4>

    <table class="table__price">
        <thead>
            <tr>
                <th class="left-align">Услуга</th>
                <th class="right-align"></th>
                <th class="right-align"></th>
                <th class="right-align"></th>
                <th class="right-align"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left-align">Мойка мотоцикла без протирки</td>
                <td class="right-align"></td>
                <td class="right-align"></td>
                <td class="right-align"></td>
                <td class="right-align">200 руб.</td>
            </tr>
            <tr>
                <td class="left-align">Мойка квадроцикла без протирки</td>
                <td class="right-align"></td>
                <td class="right-align"></td>
                <td class="right-align"></td>
                <td class="right-align">300 руб.</td>
            </tr>
            <tr>
                <td class="left-align">Чистка ковров за 1 м2</td>
                <td class="right-align"></td>
                <td class="right-align"></td>
                <td class="right-align"></td>
                <td class="right-align">100-120 руб.</td>
            </tr>
            <!-- Добавьте остальные строки -->
        </tbody>
    </table>

</div>


<!-- <div class="container">
    <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
        Прейскурант цен на услуги химчистки
    </h3> -->
<!-- <table class="table__price">
        <thead>
            <tr>
                <th>Услуга</th>
                <th class="right-align">1 класс*</th>
                <th class="right-align">2 класс*</th>
                <th class="right-align">3 класс*</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Потолок</td>
                <td class="right-align">440 руб.</td>
                <td class="right-align">480 руб.</td>
                <td class="right-align">520 руб.</td>
            </tr>
            <tr>
                <td>Сиденья (1 шт.)
                </td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
            </tr>
            <tr>
                <td>Пол переднего места
                </td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
                <td class="right-align">300 руб.</td>
            </tr>
            <tr>
                <td>Пол заднего дивана
                </td>
                <td class="right-align">400 руб.</td>
                <td class="right-align">400 руб.</td>
                <td class="right-align">400 руб.</td>
            </tr>
            <tr>
                <td>Багажник
                </td>
                <td class="right-align">440 руб.</td>
                <td class="right-align">440 руб.</td>
                <td class="right-align">440 руб.</td>
            </tr>
            <tr>
                <td>Дверь (1 шт.)
                </td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
                <td class="right-align">150 руб.</td>
            </tr>
            <tr>
                <td>Общая стоимость
                </td>
                <td class="right-align">3580 руб.</td>
                <td class="right-align">3650 руб.</td>
                <td class="right-align">3720 руб.</td>
            </tr>

            <!-- Добавьте остальные строки -->
<!-- </tbody>
    </table>  -->
<!-- <p style="font-size: 0.7rem; color:dimgrey; font-weight: 600;">
        1 класс* - Легковые а/м, Нива <br>
        2 класс* - Кроссоверы <br>
        3 класс* - Джипы <br>
    </p>
    <p class="text note mb-0 mt-1" style="font-weight: 700; color: #e91e63;">ПРИМЕЧАНИЯ:
    <ul>
        <li class="text list__text" style="font-weight: 700; color: #e91e63;">
            <span>1 </span> Для сильно загрязненных машин
            применять
            коэффициент – 1,5
        </li>
        <li class="text list__text" style="font-weight: 700; color: #e91e63;">
            2 Сотрудники мойки не несут ответственность за перебои в работе двигателя после его мойки
        </li>
    </ul>
</div> -->

<section class="chemistry">
    <div class="container">
        <div class="chemistry__inner">
            <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                Химчистка
            </h3>
            <!-- <p class="text">
                Выберите интересующую вас услугу и нажмите на нее
            </p> -->
            <!-- <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'complexclear' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Комплексная химчистка</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'expresswash' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Экспресс-мойка</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'diskclear' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Химчистка дисков</a>
                </div>
            </div> -->
            <!-- <div class="divider mt-3 mb-3"></div> -->
            <p class="text"> Эстетичный и аккуратный салон – важная составляющая внешнего вида вашего автомобиля. Для
                максимального эффекта нужно пользоваться профессиональными химическими составами и проводить регулярную
                уборку. Лишь опытные специалисты на автомойке сумеют корректно подобрать технологию химической обработки
                салона и предложить правильное решение с учетом материала и способа обивки. <br> <br>
                Мы успешно работаем с кожей и резиной, пластиком, тканью и велюром, ведь используемые нами средства
                профессиональной автохимии Koch способны давать потрясающий результат в самые короткие сроки. Чистка
                резинового коврика с помощью пылесоса, обработка лобового стекла, двигателя и колесных дисков – далеко
                не полный перечень наших услуг. <br> <br>
                Можете не беспокоиться о здоровой атмосфере внутри салона, ведь предлагаемые нами составы обладают
                гипоаллергенным эффектом и абсолютно безвредны даже для детей. Максимально глубокая степень очистки
                любого материала гарантирует лоск и внешнюю привлекательность на долгие годы. При этом у нас одни из
                самых выгодных цен в Каменки, а удобный график работы и использование профессионального оборудования в
                руках опытных специалистов надежно защитят ваш автомобиль! </p>

            <table class="table__price">
                <thead>
                    <tr>
                        <th>Услуга</th>
                        <th class="right-align">1 класс*</th>
                        <th class="right-align">2 класс*</th>
                        <th class="right-align">3 класс*</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Потолок</td>
                        <td class="right-align">1000 руб.</td>
                        <td class="right-align">1200 руб.</td>
                        <td class="right-align">1400 руб.</td>
                    </tr>
                    <tr>
                        <td>Пол</td>
                        <td class="right-align">1000 руб.</td>
                        <td class="right-align">1200 руб.</td>
                        <td class="right-align">1400 руб.</td>
                    </tr>
                    <tr>
                        <td>Багажник</td>
                        <td class="right-align">500 руб.</td>
                        <td class="right-align">500 руб.</td>
                        <td class="right-align">600 руб.</td>
                    </tr>
                    <tr>
                        <td>Сиденья
                        </td>
                        <td class="right-align">1500 руб.</td>
                        <td class="right-align">1500 руб.</td>
                        <td class="right-align">1500 руб.</td>
                    </tr>

                    <tr>
                        <td>Дверь (1 шт.)
                        </td>
                        <td class="right-align">150 руб.</td>
                        <td class="right-align">150 руб.</td>
                        <td class="right-align">150 руб.</td>
                    </tr>
                    <tr>
                        <td>Торпеда консоль
                        </td>
                        <td class="right-align">300 руб.</td>
                        <td class="right-align">300 руб.</td>
                        <td class="right-align">350 руб.</td>
                    </tr>

                    <!-- Добавьте остальные строки -->
                </tbody>
            </table>
            <p style="font-size: 0.7rem; color:dimgrey; font-weight: 600;">
                1 класс* - Легковые а/м, Нива <br>
                2 класс* - Кроссоверы <br>
                3 класс* - Джипы <br>
            </p>
            <p class="text note mb-0 mt-1" style="font-weight: 700; color: #e91e63;">ПРИМЕЧАНИЯ:
            <ul>
                <li class="text list__text" style="font-weight: 700; color: #e91e63;">
                    <span>1 </span> Для сильно загрязненных машин
                    применять
                    коэффициент – 1,5
                </li>
                <li class="text list__text" style="font-weight: 700; color: #e91e63;">
                    2 Сотрудники мойки не несут ответственность за перебои в работе двигателя после его мойки
                </li>
        </div>
    </div>
</section>


<!-- <section class="guard">
    <div class="container">
        <div class="guard__inner">
            <h3 class="title" style="display: inline-block; border-bottom: 4px solid #e91e63;">
                Защита и полироль
            </h3>
            <p class="text">
                Выберите интересующую вас услугу и нажмите на нее
            </p>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'expresswash' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Экспресс-мойка</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'expresswash' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Экспресс-мойка</a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                    <a href="{% url 'expresswash' %}">
                        <img class="wash-img" src="{% static 'autowash/images/autowash-img1.jpg' %}" alt=""
                            style="max-width: 100%; height: auto; display: inline-block;">
                    </a>
                    <a style="display: block; text-decoration: none; color: #000;" href="#">Экспресс-мойка</a>
                </div>
            </div>
            <div class="divider mt-3 mb-3"></div>
            <p class="text"> Своевременная полировка автомобиля поможет устранить микротрещины и сберечь кузов от
                коррозии и дальнейшего разрушения. Профессиональная обработка кузова включает в себя: </p>
            <ul style="list-style-type: disc; margin-left: 16px;">
                <li class="text">
                    Снятие тонкого слоя лакокрасочного покрытия
                </li>
                <li class="text">
                    Удаление грязи
                </li>
                <li class="text">
                    Восстановление былого блеска и яркости
                </li>
            </ul>
            <p class="text"> Для максимального эффекта специалисты ««АвтоМаг»» используют сразу несколько технологий
                (защитная,
                поверхностная или восстановительная полировка). Все зависит от степени повреждения лакокрасочного
                покрытия и текущего состояния кузова. Мы проведем тщательную диагностику и подберем оптимальный вариант
                с учетом цены. <br> <br>
                Недорогая автомойка в Каменки – это реально! Изучите прайс и ассортимент услуг ««АвтоМаг»» и убедитесь в
                этом сами. По всем интересующим вопросам обращайтесь к консультантам нашего центра по телефону. </p>
        </div>
    </div>
</section> -->





{% endblock content %}